<div class="sidebar">

  <div class="logo">
    <img src="favicon-32x32.png" alt="Duck Drive logo">
    <span>Duck Drive</span>
  </div>

 
  <button class="new-button">
    <mat-icon>add</mat-icon>
    <span>Nytt</span>
  </button>


  <div class="menu-group" *ngFor="let group of menuGroups">
    <app-menu-button
      *ngFor="let item of group.items"
      [text]="item.text"
      [icon]="item.icon">
    </app-menu-button>
  </div>


  <div class="storage">
    <div class="storage-title">Lagring</div>

    <div class="storage-bar">
      <div class="storage-bar-used"></div>
    </div>

    <div class="storage-text">
      4,2 GB av 15 GB används
    </div>

    <a class="storage-link">Köp mer lagring</a>
  </div>
</div>
